<div class="sidebar-wrapper">
    <nav class="mt-2">
        <ul class="nav sidebar-menu flex-column"
            data-lte-toggle="treeview"
            role="navigation"
            aria-label="Main navigation"
            data-accordion="false"
            id="navigation">

            <!-- داشبورد -->
            <li class="nav-item">
                <a href="/Admin" class="nav-link @Html.IsActive("Home", "Index")">
                    <i class="nav-icon bi bi-speedometer"></i>
                    <p>داشبورد</p>
                </a>
            </li>
            <li class="nav-item @Html.IsMenuOpen("Orders")">
                <a href="#" class="nav-link @Html.IsActive("Orders")">
                    <i class="nav-icon fas fa-box"></i>
                    <p>
                        سفارشات
                        <i class="nav-arrow bi bi-chevron-right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/Admin/Orders" class="nav-link @Html.IsActive("Orders", "Index")">
                            <i class="nav-icon bi bi-circle"></i>
                            <p>لیست سفارشات</p>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- دسته بندی محصولات -->
            <li class="nav-item @Html.IsMenuOpen("ProductCategories")">
                <a href="#" class="nav-link @Html.IsActive("ProductCategories")">
                    <i class="nav-icon fas fa-box"></i>
                    <p>
                        دسته بندی محصول
                        <i class="nav-arrow bi bi-chevron-right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/Admin/ProductCategories" class="nav-link @Html.IsActive("ProductCategories", "Index")">
                            <i class="nav-icon bi bi-circle"></i>
                            <p>لیست دسته بندی</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Admin/ProductCategories/Create" class="nav-link @Html.IsActive("ProductCategories", "Create")">
                            <i class="nav-icon bi bi-circle"></i>
                            <p>ایجاد دسته بندی جدید</p>
                        </a>
                    </li>
                </ul>
            </li>

            <!-- محصولات -->
            <li class="nav-item @Html.IsMenuOpen("Products")">
                <a href="#" class="nav-link @Html.IsActive("Products")">
                    <i class="nav-icon fas fa-box"></i>
                    <p>
                        محصولات
                        <i class="nav-arrow bi bi-chevron-right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/Admin/Products" class="nav-link @Html.IsActive("Products", "Index")">
                            <i class="nav-icon bi bi-circle"></i>
                            <p>لیست محصولات</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Admin/Products/Create" class="nav-link @Html.IsActive("Products", "Create")">
                            <i class="nav-icon bi bi-circle"></i>
                            <p>ایجاد محصول جدید</p>
                        </a>
                    </li>
                </ul>
            </li>
          
            <li class="nav-item @Html.IsMenuOpen("BlogCategories")">
                <a href="#" class="nav-link @Html.IsActive("BlogCategories")">
                    <i class="nav-icon fas fa-box"></i>
                    <p>
                        دسته بندی بلاگ
                        <i class="nav-arrow bi bi-chevron-right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/Admin/BlogCategories" class="nav-link @Html.IsActive("BlogCategories", "Index")">
                            <i class="nav-icon bi bi-circle"></i>
                            <p>لیست دسته بندی</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Admin/BlogCategories/Create" class="nav-link @Html.IsActive("BlogCategories", "Create")">
                            <i class="nav-icon bi bi-circle"></i>
                            <p>ایجاد دسته بندی جدید</p>
                        </a>
                    </li>
                </ul>
            </li>

            <!-- محصولات -->
            <li class="nav-item @Html.IsMenuOpen("BlogPosts")">
                <a href="#" class="nav-link @Html.IsActive("BlogPosts")">
                    <i class="nav-icon fas fa-box"></i>
                    <p>
                        بلاگ
                        <i class="nav-arrow bi bi-chevron-right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/Admin/BlogPosts" class="nav-link @Html.IsActive("BlogPosts", "Index")">
                            <i class="nav-icon bi bi-circle"></i>
                            <p>لیست بلاگ</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Admin/BlogPosts/Create" class="nav-link @Html.IsActive("BlogPosts", "Create")">
                            <i class="nav-icon bi bi-circle"></i>
                            <p>ایجاد بلاگ جدید</p>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item @Html.IsMenuOpen("BlogPosts")">
                <a href="#" class="nav-link @Html.IsActive("BlogPosts")">
                    <i class="nav-icon fas fa-box"></i>
                    <p>
                        بلاگ
                        <i class="nav-arrow bi bi-chevron-right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/Admin/BlogPosts" class="nav-link @Html.IsActive("BlogPosts", "Index")">
                            <i class="nav-icon bi bi-circle"></i>
                            <p>لیست بلاگ</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Admin/BlogPosts/Create" class="nav-link @Html.IsActive("BlogPosts", "Create")">
                            <i class="nav-icon bi bi-circle"></i>
                            <p>ایجاد بلاگ جدید</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Admin/BlogComments/Index" class="nav-link @Html.IsActive("BlogComments", "Index")">
                            <i class="nav-icon bi bi-circle"></i>
                            <p>کامنت ها</p>
                        </a>
                    </li>
                </ul>
            </li>


            <!-- مشتریان -->
            <li class="nav-item @Html.IsMenuOpen("Customers")">
                <a href="#" class="nav-link @Html.IsActive("Customers")">
                    <i class="nav-icon fas fa-handshake"></i>
                    <p>
                        مشتریان
                        <i class="nav-arrow bi bi-chevron-right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/Admin/Customers" class="nav-link @Html.IsActive("Customers", "Index")">
                            <i class="nav-icon bi bi-circle"></i>
                            <p>لیست مشتریان</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Admin/Customers/Create" class="nav-link @Html.IsActive("Customers", "Create")">
                            <i class="nav-icon bi bi-circle"></i>
                            <p>ایجاد مشتری جدید</p>
                        </a>
                    </li>
                </ul>
            </li>

            <!-- خدمات -->
            <li class="nav-item @Html.IsMenuOpen("CompanyFeatures")">
                <a href="#" class="nav-link @Html.IsActive("CompanyFeatures")">
                    <i class="nav-icon fas fa-box"></i>
                    <p>
                        خدمات
                        <i class="nav-arrow bi bi-chevron-right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/Admin/CompanyFeatures" class="nav-link @Html.IsActive("CompanyFeatures", "Index")">
                            <i class="nav-icon bi bi-circle"></i>
                            <p>لیست خدمات</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Admin/CompanyFeatures/Create" class="nav-link @Html.IsActive("CompanyFeatures", "Create")">
                            <i class="nav-icon bi bi-circle"></i>
                            <p>ایجاد خدمات جدید</p>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- صفحات -->
            <li class="nav-item @Html.IsMenuOpen("StaticPages")">
                <a href="#" class="nav-link @Html.IsActive("StaticPages")">
                    <i class="nav-icon fas fa-box"></i>
                    <p>
                        صفحات
                        <i class="nav-arrow bi bi-chevron-right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/Admin/StaticPages" class="nav-link @Html.IsActive("StaticPages", "Index")">
                            <i class="nav-icon bi bi-circle"></i>
                            <p>لیست صفحات</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Admin/StaticPages/Create" class="nav-link @Html.IsActive("StaticPages", "Create")">
                            <i class="nav-icon bi bi-circle"></i>
                            <p>ایجاد صفحات جدید</p>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- تنظیمات سایت -->
            <li class="nav-item @Html.IsMenuOpen("SiteSettings")">
                <a href="#" class="nav-link @Html.IsActive("SiteSettings")">
                    <i class="nav-icon fas fa-cog"></i>
                    <p>
                        تنظیمات سایت
                        <i class="nav-arrow bi bi-chevron-right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/Admin/SiteSettings" class="nav-link @Html.IsActive("SiteSettings", "Index")">
                            <i class="nav-icon bi bi-circle"></i>
                            <p>لیست تنظیمات</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Admin/SiteSettings/Create" class="nav-link @Html.IsActive("SiteSettings", "Create")">
                            <i class="nav-icon bi bi-circle"></i>
                            <p>ایجاد تنظیم جدید</p>
                        </a>
                    </li>
                </ul>
            </li>


            <!-- کاربران -->
            <li class="nav-item @Html.IsMenuOpen("Users")">
                <a href="#" class="nav-link @Html.IsActive("Users")">
                    <i class="nav-icon fas fa-users"></i>
                    <p>
                        کاربران
                        <i class="nav-arrow bi bi-chevron-right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/Admin/Users" class="nav-link @Html.IsActive("Users", "Index")">
                            <i class="nav-icon bi bi-circle"></i>
                            <p>لیست کاربران</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Admin/Users/Create" class="nav-link @Html.IsActive("Users", "Create")">
                            <i class="nav-icon bi bi-circle"></i>
                            <p>ایجاد کاربر جدید</p>
                        </a>
                    </li>
                </ul>
            </li>

            <!-- نقش‌ها -->
            <li class="nav-item @Html.IsMenuOpen("Roles")">
                <a href="#" class="nav-link @Html.IsActive("Roles")">
                    <i class="nav-icon fas fa-user-shield"></i>
                    <p>
                        نقش‌ها
                        <i class="nav-arrow bi bi-chevron-right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/Admin/Roles" class="nav-link @Html.IsActive("Roles", "Index")">
                            <i class="nav-icon bi bi-circle"></i>
                            <p>لیست نقش‌ها</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Admin/Roles/Create" class="nav-link @Html.IsActive("Roles", "Create")">
                            <i class="nav-icon bi bi-circle"></i>
                            <p>ایجاد نقش جدید</p>
                        </a>
                    </li>
                </ul>
            </li>

            <!-- مجوزها -->
            <li class="nav-item">
                <a href="/Admin/Permissions" class="nav-link @Html.IsActive("Permissions", "Index")">
                    <i class="nav-icon fas fa-key"></i>
                    <p>مجوزها</p>
                </a>
            </li>


        </ul>
    </nav>
</div>
